#header {
    display: flex;
    justify-content: center;
}

#ui {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    /* background: grey; */
}

#left, #right {
    width: 26.5rem;
    height: 26.5rem;
}

#left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    /* background: blue; */
}

#canvas {
    display: flex;
    order: 2;
    flex-wrap: wrap;
    width: 25rem;
    height: 25rem;
    background: black;
    padding: 1.5rem;
}

#right {
    display: flex;
    order: 3;
    /* background: red; */
    justify-content: space-evenly;
}
#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 700px) {
  #ui {
    height: auto;
    flex-wrap: wrap;
  }
  
  #left, #center, #right {
    position: relative;
    height: auto;
  }

  #left {
      order: 2;
  }

  #center {
      order: 1;
  }
  #right {
      order: 3;
  }

  #canvas {
      width: 20rem;
      height: 20rem;
      padding: 0.5rem;
  }
  #buttons {
      gap: 1rem;
  }
}

