#header {
    display: flex;
    justify-content: center;
}

#ui {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    /* background: grey; */
}

#left-flex, #right-flex {
    width: 26.5rem;
    height: 26.5rem;
}

#left-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    /* background: blue; */
}

#center-flex {

}

#canvas {
    display: flex;
    flex-wrap: wrap;
    width: 25rem;
    height: 25rem;
    background: black;
    padding: 1.5rem;
}

#right-flex {
    display: flex;
    /* background: red; */
    justify-content: space-evenly;
}
#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
